<!doctype html>
<html>
<head>
  <title>Smash Rank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top:80px; word-wrap:break-word;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Smash Rank</h1>
    <p>Get good</p>
    <p>Not activated yet, harass an admin to let you in</p>
    <p>
      <a href="/logout">Click here to log out</a>
    </p>
  </div>
</div>
</body>
</html>
